/*
Them Name: Twenty Seventeen Child
Theme URI: http://fastfire.com/twenty-sixteen-child/
Description: Twenty Sixteen Child Theme
Author: Chris McNeese
Author URI:http://fastfire.com
Template: twentyseventeen
Version: 1.0.0
License: 
License URI:
Tags: 
Text Domain: twentyseventeenchild
*/

/*Style Navigation Bar */
.navigation-top {
    background-color: red;
}